security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\Utilisateur
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            user_checker: App\Security\UserChecker

            login_throttling:
                max_attempts: 5
                interval: '1 minute'

            form_login:
                login_path: login
                check_path: login

                username_parameter: _username
                password_parameter: _password

                enable_csrf: true
                csrf_parameter: _csrf_token
                csrf_token_id: authenticate

            logout:
                path: logout
                target: home

    access_control:
        # Public
        - { path: ^/login,        roles: PUBLIC_ACCESS }
        - { path: ^/register,     roles: PUBLIC_ACCESS }
        - { path: ^/mot-de-passe, roles: PUBLIC_ACCESS }
        - { path: ^/assets,       roles: PUBLIC_ACCESS }
        - { path: ^/verification-email, roles: PUBLIC_ACCESS }
        - { path: ^/admin/avis,  roles: [ROLE_ADMIN, ROLE_EMPLOYE] }
        - { path: ^/admin/incidents,  roles: [ROLE_ADMIN, ROLE_EMPLOYE] }

        # Profil (toutes les sous-pages : /profil, /profil/preferences, /profil/vehicule, etc.)
        - { path: ^/profil,       roles: ROLE_USER }

        # Publication de covoiturage : /covoiturages/publier
        - { path: ^/covoiturages/publier, roles: ROLE_USER }

        # Admin
        - { path: ^/admin,        roles: ROLE_ADMIN }
